<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--    <classPathEntry location="C:/Oracle/Middleware/wlserver_10.3/server/lib/ojdbc6.jar"/>-->
    <context id="my" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="org.h2.Driver"
                        connectionURL="jdbc:h2:../aio" userId="san"
                        password="">
        </jdbcConnection>

        <javaModelGenerator targetProject="src/main/java"
                            targetPackage="com.stone0090.aio.dao.mybatis.entity">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetProject="src/main/resources"
                         targetPackage="mybatis/mapper">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetProject="src/main/java" type="XMLMAPPER"
                             targetPackage="com.stone0090.aio.dao.mybatis.mapper">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="aio_user" domainObjectName="UserDO"/>
        <table tableName="aio_role" domainObjectName="RoleDO"/>
        <table tableName="aio_permission" domainObjectName="PermissionDO"/>
        <table tableName="aio_user_role_relation" domainObjectName="UserRoleRelationDO"/>
        <table tableName="aio_role_permission_relation" domainObjectName="RolePermissionRelationDO"/>
        <table tableName="aio_config" domainObjectName="ConfigDO"/>
        <table tableName="aio_operator" domainObjectName="OperatorDO"/>
        <table tableName="aio_operator_dag" domainObjectName="OperatorDagDO"/>
        <table tableName="aio_operator_node" domainObjectName="OperatorNodeDO"/>
        <table tableName="aio_service" domainObjectName="ServiceDO"/>

    </context>
</generatorConfiguration>