<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stone0090.aio.dao.mybatis.mapper.NodeInstanceDOMapper" >
  <resultMap id="BaseResultMap" type="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
    <result column="EX_ID" property="exId" jdbcType="INTEGER" />
    <result column="OP_ID" property="opId" jdbcType="INTEGER" />
    <result column="OP_CODE" property="opCode" jdbcType="VARCHAR" />
    <result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
    <result column="INPUT_MAPPING" property="inputMapping" jdbcType="VARCHAR" />
    <result column="NODE_CONFIG" property="nodeConfig" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GMT_CREATE, GMT_MODIFIED, IS_DELETED, EX_ID, OP_ID, OP_CODE, NODE_NAME, INPUT_MAPPING, 
    NODE_CONFIG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AIO_NODE_INSTANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AIO_NODE_INSTANCE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AIO_NODE_INSTANCE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDOExample" >
    delete from AIO_NODE_INSTANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDO" >
    insert into AIO_NODE_INSTANCE (ID, GMT_CREATE, GMT_MODIFIED, 
      IS_DELETED, EX_ID, OP_ID, 
      OP_CODE, NODE_NAME, INPUT_MAPPING, 
      NODE_CONFIG)
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{exId,jdbcType=INTEGER}, #{opId,jdbcType=INTEGER}, 
      #{opCode,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, #{inputMapping,jdbcType=VARCHAR}, 
      #{nodeConfig,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDO" >
    insert into AIO_NODE_INSTANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="exId != null" >
        EX_ID,
      </if>
      <if test="opId != null" >
        OP_ID,
      </if>
      <if test="opCode != null" >
        OP_CODE,
      </if>
      <if test="nodeName != null" >
        NODE_NAME,
      </if>
      <if test="inputMapping != null" >
        INPUT_MAPPING,
      </if>
      <if test="nodeConfig != null" >
        NODE_CONFIG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="exId != null" >
        #{exId,jdbcType=INTEGER},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="opCode != null" >
        #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="inputMapping != null" >
        #{inputMapping,jdbcType=VARCHAR},
      </if>
      <if test="nodeConfig != null" >
        #{nodeConfig,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDOExample" resultType="java.lang.Integer" >
    select count(*) from AIO_NODE_INSTANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update AIO_NODE_INSTANCE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.exId != null" >
        EX_ID = #{record.exId,jdbcType=INTEGER},
      </if>
      <if test="record.opId != null" >
        OP_ID = #{record.opId,jdbcType=INTEGER},
      </if>
      <if test="record.opCode != null" >
        OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeName != null" >
        NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.inputMapping != null" >
        INPUT_MAPPING = #{record.inputMapping,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeConfig != null" >
        NODE_CONFIG = #{record.nodeConfig,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update AIO_NODE_INSTANCE
    set ID = #{record.id,jdbcType=INTEGER},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      EX_ID = #{record.exId,jdbcType=INTEGER},
      OP_ID = #{record.opId,jdbcType=INTEGER},
      OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      INPUT_MAPPING = #{record.inputMapping,jdbcType=VARCHAR},
      NODE_CONFIG = #{record.nodeConfig,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDO" >
    update AIO_NODE_INSTANCE
    <set >
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="exId != null" >
        EX_ID = #{exId,jdbcType=INTEGER},
      </if>
      <if test="opId != null" >
        OP_ID = #{opId,jdbcType=INTEGER},
      </if>
      <if test="opCode != null" >
        OP_CODE = #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="inputMapping != null" >
        INPUT_MAPPING = #{inputMapping,jdbcType=VARCHAR},
      </if>
      <if test="nodeConfig != null" >
        NODE_CONFIG = #{nodeConfig,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stone0090.aio.dao.mybatis.entity.NodeInstanceDO" >
    update AIO_NODE_INSTANCE
    set GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      EX_ID = #{exId,jdbcType=INTEGER},
      OP_ID = #{opId,jdbcType=INTEGER},
      OP_CODE = #{opCode,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      INPUT_MAPPING = #{inputMapping,jdbcType=VARCHAR},
      NODE_CONFIG = #{nodeConfig,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>