<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stone0090.aio.dao.mybatis.mapper.OperatorDOMapper" >
  <resultMap id="BaseResultMap" type="com.stone0090.aio.dao.mybatis.entity.OperatorDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
    <result column="OP_CODE" property="opCode" jdbcType="VARCHAR" />
    <result column="OP_NAME" property="opName" jdbcType="VARCHAR" />
    <result column="ALGO_LANGUAGE" property="algoLanguage" jdbcType="VARCHAR" />
    <result column="ALGO_CODE" property="algoCode" jdbcType="VARCHAR" />
    <result column="ALGO_PATH" property="algoPath" jdbcType="VARCHAR" />
    <result column="INPUT_PARAM" property="inputParam" jdbcType="VARCHAR" />
    <result column="OUTPUT_PARAM" property="outputParam" jdbcType="VARCHAR" />
    <result column="IS_DISABLED" property="isDisabled" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GMT_CREATE, GMT_MODIFIED, IS_DELETED, OP_CODE, OP_NAME, ALGO_LANGUAGE, ALGO_CODE, 
    ALGO_PATH, INPUT_PARAM, OUTPUT_PARAM, IS_DISABLED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AIO_OPERATOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AIO_OPERATOR
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AIO_OPERATOR
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDOExample" >
    delete from AIO_OPERATOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDO" >
    insert into AIO_OPERATOR (ID, GMT_CREATE, GMT_MODIFIED, 
      IS_DELETED, OP_CODE, OP_NAME, 
      ALGO_LANGUAGE, ALGO_CODE, ALGO_PATH, 
      INPUT_PARAM, OUTPUT_PARAM, IS_DISABLED
      )
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{opCode,jdbcType=VARCHAR}, #{opName,jdbcType=VARCHAR}, 
      #{algoLanguage,jdbcType=VARCHAR}, #{algoCode,jdbcType=VARCHAR}, #{algoPath,jdbcType=VARCHAR}, 
      #{inputParam,jdbcType=VARCHAR}, #{outputParam,jdbcType=VARCHAR}, #{isDisabled,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDO" >
    insert into AIO_OPERATOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="opCode != null" >
        OP_CODE,
      </if>
      <if test="opName != null" >
        OP_NAME,
      </if>
      <if test="algoLanguage != null" >
        ALGO_LANGUAGE,
      </if>
      <if test="algoCode != null" >
        ALGO_CODE,
      </if>
      <if test="algoPath != null" >
        ALGO_PATH,
      </if>
      <if test="inputParam != null" >
        INPUT_PARAM,
      </if>
      <if test="outputParam != null" >
        OUTPUT_PARAM,
      </if>
      <if test="isDisabled != null" >
        IS_DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="opCode != null" >
        #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="algoLanguage != null" >
        #{algoLanguage,jdbcType=VARCHAR},
      </if>
      <if test="algoCode != null" >
        #{algoCode,jdbcType=VARCHAR},
      </if>
      <if test="algoPath != null" >
        #{algoPath,jdbcType=VARCHAR},
      </if>
      <if test="inputParam != null" >
        #{inputParam,jdbcType=VARCHAR},
      </if>
      <if test="outputParam != null" >
        #{outputParam,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDOExample" resultType="java.lang.Integer" >
    select count(*) from AIO_OPERATOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update AIO_OPERATOR
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.opCode != null" >
        OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      </if>
      <if test="record.opName != null" >
        OP_NAME = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.algoLanguage != null" >
        ALGO_LANGUAGE = #{record.algoLanguage,jdbcType=VARCHAR},
      </if>
      <if test="record.algoCode != null" >
        ALGO_CODE = #{record.algoCode,jdbcType=VARCHAR},
      </if>
      <if test="record.algoPath != null" >
        ALGO_PATH = #{record.algoPath,jdbcType=VARCHAR},
      </if>
      <if test="record.inputParam != null" >
        INPUT_PARAM = #{record.inputParam,jdbcType=VARCHAR},
      </if>
      <if test="record.outputParam != null" >
        OUTPUT_PARAM = #{record.outputParam,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisabled != null" >
        IS_DISABLED = #{record.isDisabled,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update AIO_OPERATOR
    set ID = #{record.id,jdbcType=INTEGER},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
      OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      OP_NAME = #{record.opName,jdbcType=VARCHAR},
      ALGO_LANGUAGE = #{record.algoLanguage,jdbcType=VARCHAR},
      ALGO_CODE = #{record.algoCode,jdbcType=VARCHAR},
      ALGO_PATH = #{record.algoPath,jdbcType=VARCHAR},
      INPUT_PARAM = #{record.inputParam,jdbcType=VARCHAR},
      OUTPUT_PARAM = #{record.outputParam,jdbcType=VARCHAR},
      IS_DISABLED = #{record.isDisabled,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDO" >
    update AIO_OPERATOR
    <set >
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="opCode != null" >
        OP_CODE = #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        OP_NAME = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="algoLanguage != null" >
        ALGO_LANGUAGE = #{algoLanguage,jdbcType=VARCHAR},
      </if>
      <if test="algoCode != null" >
        ALGO_CODE = #{algoCode,jdbcType=VARCHAR},
      </if>
      <if test="algoPath != null" >
        ALGO_PATH = #{algoPath,jdbcType=VARCHAR},
      </if>
      <if test="inputParam != null" >
        INPUT_PARAM = #{inputParam,jdbcType=VARCHAR},
      </if>
      <if test="outputParam != null" >
        OUTPUT_PARAM = #{outputParam,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null" >
        IS_DISABLED = #{isDisabled,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stone0090.aio.dao.mybatis.entity.OperatorDO" >
    update AIO_OPERATOR
    set GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      OP_CODE = #{opCode,jdbcType=VARCHAR},
      OP_NAME = #{opName,jdbcType=VARCHAR},
      ALGO_LANGUAGE = #{algoLanguage,jdbcType=VARCHAR},
      ALGO_CODE = #{algoCode,jdbcType=VARCHAR},
      ALGO_PATH = #{algoPath,jdbcType=VARCHAR},
      INPUT_PARAM = #{inputParam,jdbcType=VARCHAR},
      OUTPUT_PARAM = #{outputParam,jdbcType=VARCHAR},
      IS_DISABLED = #{isDisabled,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>